#content
  #content_left
    %p Blog Entries:

  #content_right
    %h2 Twitter Feed (@codegoblin):
    %ul
    - @twitter_statuses.each do |status|
      %li
        %h3= render_twitter_date(status.created_at) 
        %p= status.text
