html {
  width: 100%;
  height: 100%;

  body {
    background-color: #000;
    color: #ffff00;
    margin: 0 auto;
    width: 1000px;
    font-family: 'courier';

    span.bold { 
      font-weight: bold; 
      font-size:11px;
    }

    pre { margin: 0; }

    #page_container {
      #header {
        
        margin: 10px 0 0 0;
        display: block;
        height: 200px;

        #logo_area {
          margin-top: 0px;
          width: 670px;
          float: left;
          img#logo {
            display: inline-block;
            margin: 0 0 10px 20px;
          }
          pre#ascii_title {
            margin: 0px 0 0 0;
            display:inline-block;
          }
        }

        pre.header_vertical_divider {
          width: 5px;
          float: left;
          height: 200px;
          margin: 0 0 0 1px;
        }

        #about_me {
          float: right;
          display: inline-block;
          width: 320px;
          h2 {
            text-align: center;
            font-size: 16px;
            margin: -5px 0 0 0;
          }
          p {
            font-size: 10px;
            margin: 1px 0 0 0;
            padding: 0px 10px;
          }
        }

        ul#main_nav {
          font-weight: bold;
          display: inline-block;
          list-style: none; 
          padding: 0;
          margin: 5px 0 6px 0;
          padding: 0 0px 0 0;
          float: right;
          width: 320px;
          
          a { 
            text-decoration: none;
            color: #ffff00; 
          }

          li {
            float: left;
            margin: 0 6px;
            width: 90px;
            text-align: center;
          }
        }
        p.horizontal_header_divider {
          text-align: left;
          margin: -2px 0 0 0;
          padding: 0;
          display: block;
          float: right;
        }
      }

      p.horizontal_section_divider {
        text-align: left;
        margin: -5px 0 0 0;
        padding: 0;
        display: inline-block;
        float: left;
      }
      
      #goblin_radio {
        width: 998px;
        height: 20px;
        background-color: #FFF;
        color: #000;  
        text-align: center;
        margin: 10px auto 2px auto;
        padding: 0 0 5px 0;
      }

      #content {
        #content_left {
          float: left;
          width: 670px;
          min-height: 400px;
        }
        pre.content_vertical_divider {
          display: inline-block;
          margin: 0 0 0 1px;
        }
        #content_right {

        }
      }

      #footer {
        min-height: 20px;
      }
    }
  }
}


