<div id="page_container">
  <div id="header">
    <div id="logo_area">
      <%= image_tag("codegoblin.png", :id => "logo") %>

      <pre id="ascii_title">
  .,-:::::     ...    :::::::-.  .,::::::
,;;;'````'  .;;;;;;;.  ;;,   `';,;;;;''''
[[[        ,[[     \[[,`[[     [[ [[cccc
$$$        $$$,     $$$ $$,    $$ $$""""
`88bo,__,o,"888,_ _,88P 888_,o8P' 888oo,__
  "YUMMMMMP" "YMMMMMP"  MMMMP"`   """"YUMMM
 .,-:::::/      ...     :::::::.   :::     ::::::.    :::.
,;;-'````'    .;;;;;;;.   ;;;'';;'  ;;;     ;;;`;;;;,  `;;;
[[[   [[[[[[/,[[     \[[, [[[__[[\. [[[     [[[  [[[[[. '[[
"$$c.    "$$ $$$,     $$$ $$""""Y$$ $$'     $$$  $$$ "Y$c$$
 `Y8bo,,,o88o"888,_ _,88P_88o,,od8Po88oo,.__888  888    Y88
   `'YMUP"YMM  "YMMMMMP" ""YUMMMP" """"YUMMMMMM  MMM     YM
      </pre>
    </div>

    <pre class="header_vertical_divider">
+
|
|
+
|
|
|
|
|
|
|
|
|
    </pre>

    <p class="horizontal_header_divider">--------------------------------</p>

    <ul id="main_nav">
      <li><a href="">>blog<</a></li>
      <li><a href="">projects</a></li>
      <li><a href="">resume</a></li>
    </ul>
    <p class="horizontal_header_divider">--------------------------------</p>
    
    <div id="about_me">
      <h2>Who am I?</h2>
      <p>
        I am a goblin, entombed deep beneath the Earth
        with only an Apple Classic and limited internet connectivity. 
        Subsequently, I've had to eat all of my friends &amp;
        family and am quite lonely (and still very hungry). I'm currently
        designing a game 
        based on a dream I have where I'm a wizard in hopes that it will take my mind
        off of food.
      </p>
      <p><span class="bold">email:</span> cody@codegobl.in</p>
      <p><span class="bold">github:</span> codegoblin</p>
      <p><span class="bold">twitter:</span> codegoblin</p>
    </div>

  </div>


  <p class="horizontal_section_divider">-------------------------------------------------------------------+--------------------------------</p>
  <div id="goblin_radio">Goblin Radio - Click To Play</div>
  <p class="horizontal_section_divider">-------------------------------------------------------------------+--------------------------------</p>
    
  <div id="content">
    <div id="content_left">
      Hi there!
    </div>
    <pre class="content_vertical_divider">
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
|
    </pre>

    <div id="content_right">
    </div>
  </div>

  <p class="horizontal_section_divider">-------------------------------------------------------------------+--------------------------------</p>

  <div id="footer"></div>

</div>
