<div id="page_container">
  <div id="header">
    <div id="logo_area">
      <%= image_tag("codegoblin.png", :id => "logo") %>

      <pre id="ascii_title">
  .,-:::::     ...    :::::::-.  .,::::::
,;;;'````'  .;;;;;;;.  ;;,   `';,;;;;''''
[[[        ,[[     \[[,`[[     [[ [[cccc
$$$        $$$,     $$$ $$,    $$ $$""""
`88bo,__,o,"888,_ _,88P 888_,o8P' 888oo,__
  "YUMMMMMP" "YMMMMMP"  MMMMP"`   """"YUMMM
 .,-:::::/      ...     :::::::.   :::     ::::::.    :::.
,;;-'````'    .;;;;;;;.   ;;;'';;'  ;;;     ;;;`;;;;,  `;;;
[[[   [[[[[[/,[[     \[[, [[[__[[\. [[[     [[[  [[[[[. '[[
"$$c.    "$$ $$$,     $$$ $$""""Y$$ $$'     $$$  $$$ "Y$c$$
 `Y8bo,,,o88o"888,_ _,88P_88o,,od8Po88oo,.__888  888    Y88
   `'YMUP"YMM  "YMMMMMP" ""YUMMMP" """"YUMMMMMM  MMM     YM
      </pre>
    </div>

    <ul id="main_nav">
      <li><a href="">>blog<</a></li>
      <li><a href="">projects</a></li>
      <li><a href="">resume</a></li>
    </ul>
    
    <div id="about_me">
      <h2>Who am I?</h2>
      <p>
        My name is Cody Johnston. I've been proramming Ruby (often in conjunction with Rails)
        for about 2 years. Besides coding Rails applications as a dayjob, I am also working on an epic
        computer game written almost exclusively in Ruby.
      </p>
      <p><span class="bold">email:</span> cody@codegobl.in</p>
      <p><span class="bold">github:</span> codegoblin</p>
      <p><span class="bold">twitter:</span> codegoblin</p>
    </div>

  </div>


  <div id="goblin_radio">Goblin Radio - Click To Play</div>
    
  <div id="content">
    <div id="content_left">
      <p>Blog Entries:</p>
    </div>


    <div id="content_right">
      <p>Twitter Feed (@codegoblin):</p>
      <% @twitter_statuses.each do |status| %>
        <p><%= render_twitter_date(status.created_at) %>:<br />
        <%= status.text %><p>
      <% end %>
    </div>
  </div>


  <div id="footer"></div>

</div>
